<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing Project</title>
    </head>

    <body>

        <header>
            <nav class="nav">
                <ul>
                  <li><a href="/">Home</a></li>
                </ul>
              </nav>
        </header>

        <main>
            <section class="heading">
                <h1>Natural Language Processing Project</h1>
                <section>
                    <h2>Article Processing: Sentiment Analysis</h2>
                    <p>Enter a URL below to run a Sentiment Analysis on an article. The Sentiment Analysis will detect the article's model, score tag, irony, and level of confidence.</p>
                </section>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="http://">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <table class="result">
                    <tr>
                        <th>Content</th>
                        <th>Api_Return</th>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td id="model"></td>
                    </tr>
                    <tr>
                        <td>Score_Tag</td>
                        <td id="score_tag"></td>
                    </tr>
                    <tr>
                        <td>Confidence</td>
                        <td id="confidence"></td>
                    </tr>
                    <tr>
                        <td>Irony</td>
                        <td id="irony"></td>
                    </tr>
                </table>
            </section>
        </main>

        <footer>  <a class="box-1">&copy; Copyright 2021 - Jon Tran</a>
            <a class="icon-item" href="#"><i class="fa fa-facebook"></i></a>
            <a class="icon-item" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="icon-item" href="#"><i class="fa fa-twitter"></i></a>
          </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
